@use '../variables/' as *;

.aside {
  display: grid;
  grid-template-rows: min-content 25vw;
  row-gap: 5rem;
  @extend %spaceMtop;

  &__post {
    background-color: $main-container;
    padding: 4rem 2rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__trending {
    display: grid;
    row-gap: 1.4rem;
    padding-bottom: 2rem;

    &:not(:last-child) {
      border-bottom: 1px solid $font-color;
      margin-bottom: 2rem;
    }

    &__tag-1 {
      @include tagPostSide();
    }
    &__tag-2 {
      @include tagPostSide();
    }
    &__tag-3 {
      @include tagPostSide();
    }
    &__tag-4 {
      @include tagPostSide();
    }
    &__tag-5 {
      @include tagPostSide();
    }
    &__tag-6 {
      @include tagPostSide();
    }
    &__tag-7 {
      @include tagPostSide();
    }
    &__tag-8 {
      @include tagPostSide();
    }
    &__tag-9 {
      @include tagPostSide();
    }
    &__tag-10 {
      @include tagPostSide();
    }

    &__text {
      line-height: 1.5rem;
    }
  }

  &__one-img {
    background-image: url('https://images.unsplash.com/photo-1545239351-36e924f9b002?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
}
