@use '../variables/' as *;

.main {
  @extend %spaceMtop;

  @extend %spaceMright;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.5rem;
  row-gap: 5.5rem;

  .big__image {
    background: url('https://images.unsplash.com/photo-1543652437-15ae836b33e3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80')
      no-repeat center center;
  }

  .title {
    @include stylePost('title', $font-color);
  }

  .date {
    @include stylePost('date', $font-color);
  }

  .text {
    @include stylePost('text', $font-color);
  }

  .btn__post {
    @include stylePost('button', $font-color);
  }
  .artist {
    @include stylePost('artist', default);
  }
}
